{% extends 'PhoneBook/BaseTemplate.html' %}
{% block page_title %}
    <title>{{ title }}AddEntry</title>
{% endblock %}
{% block page_content %}
    <div class="container mt-4">
        <h1 class="h1">Add your Entry here</h1>
        {#        messages#}
        <div id="message-div">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success">
                        {{ message }}
                        <button type="button" data-dismiss="alert" class="close">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {#        messages finished#}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
{#            {% with field = form.first_name %}#}
            <div class="form-group">
                <label for="{{ field.auto_id }}">First name : </label>
                <input type="text" class="form-control" id="{{ field.auto_id }}" name="{{ field.first_name }}" value="{{ field.initial }}"
                       placeholder="Enter your first name">
            </div>
{#            {% endwith %}#}
{#            {% with field = form.last_name %}#}
            <div class="form-group">
                <label for="{{ field.auto_id }}">Last name : </label>
                <input type="text" class="form-control" id="{{ field.auto_id }}" name="{{ field.last_name }}" value="{{ field.initial }}"
                       placeholder="Enter your last name">
            </div>
{#            {% endwith %}#}
{#            {% with field = form.phone_number %}#}
            <div class="form-group">
                <label for="{{ field.auto_id }}">Phone Number : </label>
                <input type="text" class="form-control" id="{{ field.auto_id }}" name="{{ field.phone_number }}" value="{{ field.initial }}"
                       placeholder="Enter your Phone Number">
            </div>
{#            {% endwith %}#}
        </form>
        <button class="btn btn-primary" id="submit_btn">Add Entry</button>
    </div>
{% endblock %}
{% block page_scripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            $('#submit_btn').on('click', function (event) {
                var first_name = $('#first_name').val();
                var last_name = $('#last_name').val();
                var phone_number = $('#phone_number').val();
                var csrf = '{{ csrf_token }}'
                $.ajax({
                    url: '{% url 'PhoneBook:add-entry' %}',
                    method: 'POST',
                    data: {
                        first_name: first_name,
                        last_name: last_name,
                        phone_number: phone_number,
                    },
                    success: function (response) {
                        var success_message_div = $('#message-div')
                        success_message_div.empty()
                        var my_div = '<div class="alert alert-success">' + response.success_message + '<button type="button" data-dismiss="alert" class="close">&times;</button></div>'
                        success_message_div.append(my_div)
                    },
                    error: function (response) {
                        var error_message_div = $('#message-div')
                        var my_div = '<div class="alert alert-danger">' + response.responseJSON.error_message + '<button type="button" data-dismiss="alert" class="close">&times;</button></div>'
                        error_message_div.append(my_div)
                    },

                })
            });
        });
    </script>
{% endblock %}
